
# Ignore build directories

# .gitignore
preprocess_results/png/bands432/*
!preprocess_results/png/bands432/

# all numpy data sets ignore
npFiles/*
!npFiles/


# ignore dataset
/datasets/Landsat-9-Level-1/products/LC09_L1TP_114063_20240112_20240112_02_T1
/datasets/Landsat-9-Level-1/products/LC09_L1TP_063046_20221202_20230319_02_T1
